<h1 [hidden]="hideTitle" [ngClass]="classList"> Welcome to {{ title }}! </h1>
  <!-- <button class="header" (click)="toggleHeader()">show header?</button>  -->

  <section>
    <h1>TODO List</h1>
    <p>A place to store your todos</p>
    
    <input type="text" (input)="filterToDo()" [(ngModel)]="searchInput" placeholder="Filter your to-dos"/>
    <br><br/>

  <div>
    <ol id="list"> 
      <li id="task" *ngFor="let ToDo of choreList let i = index">
        <button *ngIf="ToDo.complete==false"(click)="completeTask(ToDo)">Complete</button>
        <div *ngIf="ToDo.task">
          <p id="target" contenteditable="true" [ngClass]="{strike: ToDo.complete}"> {{ ToDo.task }}  </p> 
        </div>
        <button (click)="removeTask(i)">X</button>  
        <br><br/>
      </li>
    </ol>
  </div>

  <p class="congratulations" *ngIf="doneTasks()">Congratulations. The list is completed/empty.</p>
 
  <input class="placeholder" type="text" placeholder="Add your to do" [(ngModel)]="inputTask"/>
  <br><br/>
  <button class="addButton" (click)="addTask()">Add </button>

</section> 


<script>
</script>
