

  <section>
    <h1>TODO List</h1>
    <p>A place to store your todos</p>
  
    <input type="text"  id="filter" (input)="filterSearch()" placeholder="Filter your to-dos"/>
    <br><br/>

  <div>
    <ol id="list"> 
      <li id="task" *ngFor="let ToDo of choreList let i = index">
        <button *ngIf="ToDo.complete==false"(click)="completeTask(ToDo)">Complete</button>
        <div *ngIf="ToDo.task">
          <p id="target" contenteditable="true" [ngClass]="{strike: ToDo.complete}"> {{ ToDo.task }}  </p> 
        </div>
        <button (click)="removeTask(i)">X</button>  
        <br><br/>
      </li>
    </ol>
  </div>

  <p class="congratulations" *ngIf="doneTasks()">Congratulations. The list is empty.</p>
 
  <input class="placeholder" #newTask type="text" placeholder="Add your to do" [(ngModel)]="inputTask"/>
  <br><br/>
  <button class="addButton" (click)="addTask(newTask.value)">Add</button>

</section> 

<!-- <script>
  filterSearch = () =>  {

  const filter = document.getElementById('filter');
  filter.addEventListener('keyup', () => {
    Array.from(list.children).map(li => {
        const matchFound = new RegExp (filter.value, 'gi').test(li.innerText);
        if (!matchFound) {
            li.classList.add('hidden');
        } else {
            li.classList.remove('hidden');
        }
    });
    });
}
</script> -->